<main>
  <article>

    <!--
        - #SERVICE
      -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Mobile Development</h3>

                <p class="body-sm">
                  With expertise in Android app development, I create innovative and user-friendly mobile applications that cater to your unique business needs. From concept to deployment, I work closely with you to understand your objectives and deliver a cutting-edge mobile solution that engages and delights your users.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Web Development</h3>

                <p class="body-sm">
                  With expertise in the latest web technologies and programming languages, I create dynamic and
                  interactive websites that are tailored to meet your specific goals. Whether you need a robust
                  e-commerce platform, a custom web application, or a responsive website, I have the technical prowess
                  to bring your vision to life.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
                <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Web Design</h3>

                <p class="body-sm">
                  I create stunning and functional websites that make a lasting impression. From responsive layouts to
                  intuitive navigation, I prioritize both visual appeal and seamless functionality to ensure your
                  website not only looks fantastic but also performs flawlessly across all devices.

                </p>
              </div>

            </div>
          </li>
        </ul>

      </div>
    </section>

  </article>
</main>
