<main>
    <article>

      <!--
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-1.png" width="800" height="540" loading="lazy"
                    alt="SOUQI An e-commerce web application" class="img-cover">

                  <a href="https://souqi.onrender.com/" class="btn-icon" aria-label="SOUQI An e-commerce web application">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">SOUQI TN</span>

                  <h3 class="title-md">E-commerce web application</h3>

                  <p class="card-text">
                    e-commerce web application is designed to provide a seamless and convenient online shopping experience for customers. With a user-friendly interface and intuitive navigation, our platform allows users to browse and purchase a wide range of products from various categories.
                  </p>

                  <a href="https://souqi.onrender.com/" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>
          </ul>

        </div>
      </section>

    </article>
  </main>
